# Created by .ignore support plugin (hsz.mobi)
.DS_Store
.idea/
Classifier.pyc
GCN.pyc
NN.pyc
Predictor.pyc
SubMatch/data/
__pycache__/
data/.DS_Store
data/citeseer/.DS_Store
data/citeseer/data.txt
data/citeseer/feature.txt
data/citeseer/graph.pkl
data/citeseer/graph.txt
data/citeseer/label.txt
data/citeseer/meta/
data/citeseer/query
data/citeseer/subgraph/
data/cora/.DS_Store
data/cora/data.pkl
data/cora/data.txt
data/cora/feature.txt
data/cora/graph.pkl
data/cora/graph.txt
data/cora/label.txt
data/cora/meta/
data/cora/query
data/cora/subgraph/
flags.pyc
main.pyc
/data/citeseer/data.pkl
